<!DOCTYPE html> <html> 
    <head> 
        <title>Salut</title> 
    </head> 
    <body>
        <form method="POST" id="myFormElement">
            <input type="text" name="name" value="apple">
            <input type="submit" value="SubMe">
        </form>

    <script>
    
        var form = document.forms.namedItem("myFormElement");
        form.addEventListener('submit', function(ev) {

        var
            oOutput = document.getElementById("output"),
            oData = new FormData(document.forms.namedItem("myFormElement"));

        var oReq = new XMLHttpRequest();

        oReq.open("POST", "/api/fdsfdsqdddddsqdfdff/dyn-const-form", true);
        oReq.onload = function(oEvent) {
            if (oReq.status == 200) {
                console.log('good')
            } else {
                console.log(oReq.status)
            }
        };

        oReq.send(oData);
        ev.preventDefault();
        }, false);
    </script>
    </body>
</html>
