<!DOCTYPE html> <html> 
    <head> 
        <title>Salut</title> 
    </head> 
    <body>
        <script>
            var f = document.createElement("form");
            f.setAttribute('method',"POST");
            f.setAttribute('action',"/api/fdsfdsqdddddsqdfdff/dyn-const-form");
            
            var i = document.createElement("input"); //input element, text
            i.setAttribute('type',"text");
            i.setAttribute('name',"name");
            i.setAttribute('value',"apple");
            
            var s = document.createElement("input"); //input element, Submit button
            s.setAttribute('type',"submit");
            s.setAttribute('value',"Submit");
            
            f.appendChild(i);
            f.appendChild(s);            
            document.getElementsByTagName('body')[0].appendChild(f);
        </script>
    </body>
</html>
